[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
black = "*"

[packages]
requests = "*"
beautifulsoup4 = "*"
django = "*"
psycopg2 = "==2.7.*"
django-heroku = "*"
gunicorn = "*"
pillow = "*"
coverage = "*"
pre-commit = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
