<!DOCTYPE html>
<html lang="en">
  <head>
      {% load static %}

      <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
      <link href="https://fonts.googleapis.com/css2?family=Fanwood+Text:ital@0;1&family=Quattrocento:wght@400;700&display=swap" rel="stylesheet">
      <title>{% block title %}Find and Seek{% endblock %}</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <header class="headerContainer">
      <h1 class="title">Find and Seek</h1>

      <h2 class="subtitle">FIND THE PERFECT PIECE FROM ANYWHERE ON THE INTERNET</h2>
    </header>

    <main class="grid">
      {% include "retail_app/search_bar.html" %}

      <aside class="filtersContainer">
        <h2 class="title">FILTERS</h2>

        {% for business in businesses %}
        <div>
          <p>{{ business.name }}</p>
        </div>
        {% endfor %}

        {% for designer in designers %}
        <div>
          <p>{{ designer.name }}</p>
        </div>
        {% endfor %}
      </aside>

      <section class="productsSection">
        {% block content %}{% endblock content %}
      </section>
    </main>

    <script rel="stylesheet" type="text/javascript" src="{% static 'toggleProductInfo.js' %}"></script>
  </body>

  <footer class="footer">
    <p>Powered by love of learning.</p>
  </footer>
</html>
